{
	"presets": [[
		"next/babel", {
			"preset-env": {
				"targets": "last 2 Chrome versions and node 14"
			}
		}]
	],
	"plugins": [
		["inline-react-svg",
		{
			"svgo": {
				"plugins": [
					{
						"name": "removeViewBox",
						"active": false
					}
				]
			}
		}]
	]
}