:root {
    --background: #ffffff;
    --text: #171717;
    --light-grey: #c6cacb;
    --mid-grey: #616a6d;
    --dark-grey: #485154;
    --face-opacity: 1;
    /* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
    interpolate-size: allow-keywords;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #eeeeee;
        --text: #070707;
        filter: invert(100%) hue-rotate(180deg);
        --face-opacity: 0.7;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    background-color: var(--background);
    color: var(--text);
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

a:hover {
    text-decoration: underline;
}

.centered {
    display: flex;
    height: 100%;
    justify-content: safe center;
    align-items: safe center;
    overflow: auto;
}

.open-source {
    view-transition-name: open-source;
}
.technical-writing {
    view-transition-name: technical-writing;
}
