.container {
    display: grid;
    grid-template:
        "a b"
        "a c"
        "a d";
    grid-gap: 1.25em 2em;
    width: auto;
    /* justify-content:center; */
    /* align-content: top; */
}

.name {
    grid-area: b;
    padding: 0 20px;
}

.name h1 {
    margin: 0;
    font-size: 4em;
}
.name p {
    margin: 0;
    padding: 0.5em 0;
}

.face {
    text-align: center;
    grid-area: a;
    opacity: var(--face-opacity);
}
.face img {
    width: 15em;
    height: auto;
}

.icons {
    display: flex;
    justify-content: left;
    align-items: center;
    grid-area: c;
    width: auto;
    padding: 0 20px;
}

.icons a {
    color: black;
    opacity: 0.5;
    transition: ease-in-out 300ms opacity;
    transform: scale(1);
}
.icons a:hover {
    opacity: 1;
}
.icons a:focus img {
    animation: attention 1200ms ease-in-out;
}

.logo {
    text-align: center;
    display: block;
    padding: 0 1em 0 0;
}

.logo img {
    width: 2em;
    height: 2em;
    display: block;
}

.writing {
    max-width: 400px;
    padding: 0 20px;
    grid-area: d;
}
.writing h2:first-child {
    margin-top: 0;
}
.writing h3 {
    color: #333333;
    margin: 0;
}
.container p {
    color: var(--dark-grey);
}

.container hr {
    display: none;
}

@keyframes attention {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(16);
        opacity: 0;
    }
}

@media (max-width: 750px) {
    .container {
        grid-template:
            "a"
            "b"
            "c"
            "d";
        margin: 20px auto 0;
        transform: none;
        position: static;
    }
    .face img {
        width: 50%;
        max-width: 10em;
    }
    .icons {
        justify-content: center;
    }
}
/* @media (min-height: 750px) {
  .container {
    padding-top: 3em;
    align-content: start;
  }
} */
@media (max-width: 420px) {
    .name h1 {
        text-align: center;
        font-size: 2.75em;
    }
}
