.indexPage {
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}
.name {
    font-size: 7vh;
    text-align: center;
    margin: 3vh 0;
}

.face svg {
    height: 30vh;
}

table {
    height: 18vh;
    text-align: right;
    position: relative;
    left: -20px;
}
.logo {
    text-align: center;
    display: block;
    padding: 0.5vh;
}

.logo svg {
    width: 5vh;
    height: 5vh;
    display: block;
    opacity: 0.5;
    transition: ease-in-out 300ms opacity;
    transform: scale(1);
}

.logo svg * {
    fill: black;
    stroke-width: 2px;
}

.logo:hover svg {
    opacity: 1;
}

.logo:focus svg {
    animation: attention 600ms ease-in-out;
}

@keyframes attention {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(8);
        opacity: 0;
    }
}
