.sky {
    background: linear-gradient(#004488, #3388ff, #ddeeff, #eeeeff);
    height: 350vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    animation: sky-color 20000ms ease-in-out 0ms infinite;
    opacity: 0.5;
    z-index: -1;
}

.sun {
    width: 10vh;
    height: 10vh;
    background-color: #ffff22;
    border-radius: 10vh;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: sun-up-down 20000ms ease-in-out 0ms infinite;
    z-index: -1;
}

@keyframes sun-up-down {
    from {
        transform: translate(0, 0);
    }
    35% {
        transform: translate(25vw, -100vh);
    }
    65% {
        transform: translate(63vw, -100vh);
    }
    to {
        transform: translate(90vw, 0);
    }
}
@keyframes sky-color {
    from {
        transform: translatey(0);
    }
    35% {
        transform: translateY(-200vh);
    }
    65% {
        transform: translateY(-200vh);
    }
    to {
        transform: translatey(0);
    }
}
