.container {
	margin: 0 auto;
	max-width: 43em;
	padding: 0 1.5em;

	--star-shadow: #463901;
}

.header {
	display: grid;
	grid-template:
	"a b"
	"a c";
	align-content: start;
	justify-content: start;
	border-bottom: 1px solid var(--light-grey);
	padding: 20px 0;
}

.face {
	grid-area: a;
	opacity: var(--face-opacity);
}
.header img {
	height: 100px;
	width: 100px;
}
.header h1 {
	margin: 0;
}
.header p {
	margin: 0 0 1.2em 0;
}
.resume {
	line-height: 1.4;
}
.resume ul {
	padding: 0;
}
.resume li {
	list-style-type: circle;
	margin-bottom: 0.2em;
}
.resume h3:not(:first-of-type) {
	padding: 0.75em 0 0;
	border-top: 1px solid var(--light-grey);
}

.container table {
	border-collapse: collapse;
}
.container td, .container th {
	vertical-align: top;
	padding: 0 0.5em 0.25em;
}
.container tr:has(strong) td {
	border-top: 1px solid var(--light-grey);
}
.container td strong {
	margin-top: 0.25em;
	display: block;
}
.container td:first-child {
	white-space: nowrap;
}
.container td:nth-child(2) {
	letter-spacing: 1px;
	color: #e3c333;
	text-shadow: 
		0.75px 0.75px 0.25px var(--star-shadow), 
		-0.75px -0.75px 0.25px var(--star-shadow),
		0.75px -0.75px 0.25px var(--star-shadow),
		-0.75px 0.75px 0.25px var(--star-shadow),
		0 1.1px 0.25px var(--star-shadow), 
		1.1px 0px 0.25px var(--star-shadow),
		0 -1.1px 0.25px var(--star-shadow), 
		-1.1px 0px 0.25px var(--star-shadow)
		;
}