.container {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

.treeCanvas {
    margin-top: 0vh;
    width: 100vw;
    height: 66vh;
    position: relative;
}

.hill {
    position: absolute;
    top: 72vh;
    bottom: 0;
    width: 100%;
    background-color: #65c337;
}
.hill svg {
    width: 100%;
    height: 13vh;
    transform: translateY(-90%);
}
